# Azure Identity
TENANT_ID=
CLIENT_ID=
STORAGE_ACCOUNT=
CONTAINER_NAME=

# Application Insights
APPINSIGHTS_CONNECTION_STRING=

# Email Service
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

# App Port
PORT=3000
